{% extends 'base.html.j2' %}

{% block title %}HIT Complete{% endblock %}

{% block content %}
<div class="uk-container">
    <h1>HIT COMPLETE</h1>
    <div uk-alert class="uk-alert-success" style="border: solid 2px #32d296;">Thank you for participating! Your successful participation in the task has been registered and the HIT is considered completed. If you have any issues, questions, or suggestions please email the requester.</div>
</div>
{% endblock %}


